<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista Categoría</title>

    <th:block th:replace="layouts/styles :: common"></th:block>
    <th:block th:replace="layouts/styles :: datatable"></th:block>
    <style>
        th,td {
            white-space: nowrap; /* Evita el salto de línea */
            overflow: hidden; /* Oculta el contenido que sobresale */
            text-overflow: ellipsis; /* Muestra puntos suspensivos (...) si el contenido es demasiado largo */
        }
    </style>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <th:block th:replace="layouts/sidemenu :: menu"></th:block>
        <th:block th:replace="layouts/topmenu :: menu"></th:block>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Lista de usuarios</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="alert alert-danger alert-dismissible fade in" role="alert" th:if="${error}">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <span th:text="${mensaje}"></span>
                        </div>

                        <table id="datatable"
                               class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th style="width: 50px;">Username</th>
                                <th style="width: 50px;">Apodo</th>
                                <th>Roles</th>

                                <th style="width: 50px;">Estado</th>
                                <th style="width: 50px;">Acción</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="u : ${usuarios}">
                                <td th:text="${u.username}"></td>
                                <td th:text="${u.apodo}"></td>
                                <td>
                                    <ul>
                                        <li th:each="r : ${u.roles}" th:text="${r.authority}"></li>
                                    </ul>
                                </td>

                                <td th:text="${u.enabled}"></td>
                                <td>
                                    <a th:href="@{'/usuario/editar/' + ${u.id}}"><i class="fa fa-edit"></i></a>
                                    <a th:href="@{'/usuario/cambiar/' + ${u.id}}" ><i class="fa fa-undo"></i></a>
                                    <a data-toggle="modal" data-target=".remove-user-modal" onclick="removeUserDialog(this);"
                                       th:data-user-id="${u.id}" th:data-user-name="${u.username}" style="cursor: pointer;">
                                        <i class="fa fa-remove"></i><!-- llena de datos(id,nombre) el modal con la catagoria que se va a l¿elimianr -->
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <div class="modal fade remove-user-modal" tabindex="-1"
             role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Eliminar usuario</h4>
                    </div>
                    <div class="modal-body">
                        <p>Estás seguro de eliminar el usuario <br/><strong><span id="user-name"></span></strong>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" onclick="removeUser();">Si!</button>
                    </div>

                </div>
            </div>
        </div>

        <th:block th:replace="layouts/footer :: footer"></th:block>

    </div>
</div>

<th:block th:replace="layouts/scripts :: common"></th:block>
<th:block th:replace="layouts/scripts :: datatable"></th:block>
<script th:src="@{/custom/js/usuario/list.js}"></script>
</body>
</html>