<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Préstamo Form</title>

    <th:block th:replace="layouts/styles :: common"></th:block>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        th {
            background-color: #758176;
            color: white;
        }
        /* Media query para ajustar la tabla en pantallas pequeñas */
        @media screen and (max-width: 600px) {
            table, thead, tbody, th, td, tr {
                display: block;
            }
            th {
                display: none;
            }
            tr {
                border: 1px solid #ddd;
                margin-bottom: 10px;
            }
            td {
                border: none;
                border-bottom: 1px solid #ddd;
                position: relative;
                padding-left: 50%;
            }
            td:before {
                position: absolute;
                left: 6px;
                content: attr(data-label);
                font-weight: bold;
            }
        }
    </style>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <th:block th:replace="layouts/sidemenu :: menu"></th:block>
        <th:block th:replace="layouts/topmenu :: menu"></th:block>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Préstamos</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="alert alert-success alert-dismissible fade in" role="alert" th:if="${successMsg}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <span th:text="${successMsg}"></span>
                            </div>

                            <div class="row">
                                <div class="col-xs-12" >
                                    <h3><span class="pull-right"><b>Fecha de préstamo:</b> <span th:text="${#dates.format(#dates.createNow(), 'dd-MMM-yyyy')}"></span></span></h3>
                                </div>
                            </div>
                            <br/>
                            <form class="form-horizontal form-label-left">
                                <div class="row">
                                    <div class="col-sm-5">

                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Tipo de miembro</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <select class="form-control" id="tipoMiembro">
                                                    <option value="">-- Seleccione un tipo --</option>
                                                    <option th:each="mt : ${tiposMiembro}" th:value="${mt}" th:text="${mt}"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Miembro</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <select class="form-control" id="miembroSelec">
                                                    <option value="">-- Seleccione un miembro --</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-7" style="padding-left: 0px;">

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Categoría</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control" id="categoriaSelec">
                                                    <option value="">-- Seleccione categoría --</option>
                                                    <option th:each="c : ${categorias}" th:value="${c.id}" th:text="${c.nombre}"></option>
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3" >
                                                <button type="button" style="float:right;" id="addLibroBtn" class="btn">Nuevo libro</button>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Libro</label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <select class="form-control" id="libroSelec">
                                                    <option value="">-- Seleccione un libro --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Unidad</label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <select class="form-control" id="unidadSelec">
                                                    <option value="">-- Seleccione una unidad --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha Retorno General</label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <input type="date" class="form-control" id="fechaRetorno" placeholder="0/0/0">
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                    <div style="border: 1px solid #E6E9ED; min-height: 200px;">
                                        <table id="tablaDeLibros" class="table table-striped">
                                            <thead>
                                                <tr>

                                                    <th >Unidad</th>
                                                    <th >Titulo</th>
                                                    <th >Autor</th>
                                                    <th >Ubicación</th>
                                                    <th >Fecha Retorno</th>
                                                    <th >Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>

                                <div class="row mt-10">
                                    <div class="col-sm-12" >
                                        <button type="button" style="float:right; width: 150px;" id="prestamosBtn" class="btn btn-success">Realizar préstamo</button>
                                    </div>
                                </div>
                            </form>





                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <div class="modal fade errores-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Error(es)</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    </div>

                </div>
            </div>
        </div>

        <th:block th:replace="layouts/footer :: footer"></th:block>

    </div>
</div>

<th:block th:replace="layouts/scripts :: common"></th:block>
<script th:src="@{/custom/js/prestamo/form.js}"></script>
</body>
</html>