<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<th:block th:fragment="menu">
	<div class="col-md-3 left_col">
		<div class="left_col scroll-view">
			<div class="navbar nav_title" style="border: 0;">
				<a href="/" class="site_title"><i class="fa fa-book" aria-hidden="true"></i></i>
					<span>Sistema</span></a>
			</div>

			<div class="clearfix"></div>

			<br />

			<!-- sidebar menu -->
			<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
				<div class="menu_section">
					<ul class="nav side-menu">
						<li><a href="/"><i class="fa fa-home"></i>Panel</a></li>
						<li sec:authorize="hasRole('ROLE_ADMIN')">
							<a><i class="fa fa-user"></i> Usuarios <span class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/usuario/nuevo">Nuevo</a></li>
								<li><a href="/usuario/listar">Lista</a></li>
							</ul>
						</li>
						<li>
							<a><i class="fa fa-user"></i> Miembros <span class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/miembro/nuevo">Nuevo</a></li>
								<li><a href="/miembro/listar">Lista</a></li>
							</ul>
						</li>
						<li>
							<a><i class="fa fa-sitemap"></i> Categoría <span class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/categoria/nuevo">Nuevo</a></li>
								<li><a href="/categoria/listar">Lista</a></li>
							</ul>
						</li>
						<li>
							<a><i class="fa fa-book"></i> Libros <span class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/libro/nuevo">Nuevo</a></li>
								<li><a href="/libro/listar">Lista</a></li>
							</ul>
						</li>
						<li>
							<a><i class="fa fa-cart-arrow-down"></i> Préstamo <span class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/prestamo/nuevo">Nuevo</a></li>
								<li><a href="/prestamo/listar/enCurso">Préstamos</a></li>
								<li><a href="/prestamo/listar/retornados">Lista</a></li>
							</ul>
						</li>
					</ul>
				</div>

			</div>
			<!-- /sidebar menu -->
		</div>
	</div>
</th:block>

</html>